---
import { getI18N } from "@i18n/index";
import Button from "@assets/icons/Button.astro";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const { nav3 } = i18n.Navbar;
---

<button class="bg-gradient-to-b from-variantSecondary to-secondary rounded-2xl">
  <div class="flex items-center justify-center px-4 py-2">
    <Button />
    <span class="text-Light ml-4 drop-shadow-2xl">{nav3}</span>
  </div>
</button>
