---
import { getI18N } from "@i18n/index";
import Guarantee from "@assets/images/seal@2x.webp";
import { Image } from "astro:assets";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const { subTitle, title, body } = i18n.GuaranteeBanner;
import Card from "@components/Card.astro";
---

<Card clases="flex flex-col md:flex-row  place-content-center">
  <div class="flex justify-center items-center">
    <div class="text-center md:text-left text-pretty">
      <p
        class="text-orangeSubtitle text-left text-xl drop-shadow-2xl font-bold leading-normal tracking-wider"
      >
        {subTitle}
      </p>
      <h1
        class="text-Black text-left font-bold text-2xl leading-10 tracking-wider"
      >
        {title}
      </h1>
      <p class="text-Black text-left text-base leading-7 tracking-[.24px]">
        {body}
      </p>
    </div>
  </div>
  <div class="flex place-content-center items-center mt-4 md:pt-0">
    <Image
      src={Guarantee}
      alt={"Guarantee"}
      quality={"low"}
      loading={"lazy"}
      format="avif"
      class="w-auto md:max-w-40 h-auto drop-shadow-xl"
    />
  </div>
</Card>
