---
import Protect from "@assets/icons/Guarantee/protect.astro";
import Satisfaction from "@assets/icons/Guarantee/satisfaction.astro";
import Lock from "@assets/icons/Guarantee/lock.astro";
import { getI18N } from "@i18n/index";
import Container from "@components/Container.astro";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const { title1, title2, title3 } = i18n.GuaranteeIcons;
---

<section
  class="bg-guaranteeIconsB sm:h-auto md:h-[121px] flex place-content-center"
>
  <Container extraClases=" place-content-center flex items-center">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-10 text-Light p-8">
      <div class="flex items-center justify-center">
        <picture class="border border-Light rounded-full p-1 shadow-xl">
          <Protect />
        </picture>
        <p class="ml-2 drop-shadow-2xl text-xl">{title1}</p>
      </div>
      <div class="flex items-center justify-center">
        <picture class="border border-Light rounded-full shadow-xl p-1">
          <Satisfaction />
        </picture>
        <p class="ml-2 drop-shadow-2xl text-xl">{title2}</p>
      </div>
      <div class="flex items-center justify-center">
        <picture class="border border-Light rounded-full shadow-xl p-1">
          <Lock />
        </picture>
        <p class="ml-2 drop-shadow-2xl text-xl">{title3}</p>
      </div>
    </div>
  </Container>
</section>
