---
import Container from "@components/Container.astro";
import Navbar from "@components/Navbar.astro";
import { getI18N } from "@i18n/index";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const { headBanner } = i18n;
---

<main
  class="bg-heroMain h-auto md:h-screen md:bg-fixed bg-no-repeat bg-scroll bg-clip-padding bg-cover bg-opacity-100"
>
  <div>
    <div
      class="h-[50px] bg-primary place-content-center text-center md:block hidden"
    >
      <span
        class="text-Light opacity-100 font-normal text-base tracking-[.24px]"
        >{headBanner}</span
      >
    </div>
    <Navbar />
  </div>
  <Container
    extraClases=" flex flex-col place-content-center justify-center items-center "
  >
    <slot />
  </Container>
</main>
